<p id="notice"><%= notice %></p>

<p>
  <b>Jedi:</b>
  <%= @apprenticeship.jedi.name %>
</p>

<p>
  <b>Padawan:</b>
  <%= @apprenticeship.padawan.name %>
</p>

<%= link_to 'Edit', edit_apprenticeship_path(@apprenticeship) %> |
<%= link_to 'Back', apprenticeships_path %>
