<h1>Listing jedis</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jedis.each do |jedi| %>
  <tr>
    <td><%= jedi.name %></td>
    <td><%= link_to 'Show', jedi %></td>
    <td><%= link_to 'Edit', edit_jedi_path(jedi) %></td>
    <td><%= link_to 'Destroy', jedi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jedi', new_jedi_path %>
